html, body{
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Helvetica, sans-serif;
	background: rgb(21, 34, 47);
}

nav{
	display: block;
	width: 20%;
	margin: 0;
}

nav a{
	display: none;
	width: 100%;
	padding: 10%;
	font-size: 1.5em;
	border: 1px solid #fff;
	background: #333;
	color: #fff;
	text-decoration: none;
}

nav:hover a{
	text-decoration: none;
}

nav:target a{
	display: block;
}

nav > *:nth-child(1) {
	display: block;
	width: 5em;
}

nav > *:nth-child(1) span{
	position: relative;
	display: block;
	width: 100%;
	height: .5em;
	margin-top: .25em;
	background: #fff;
}

nav > *:nth-child(1) span::before{
	content:"";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: red;
	transition: width 1s;
}

nav > *:nth-child(1):hover span::before{
	animation: open 1s forward;
}

nav > *:nth-child(1):hover span:nth-child(2)::before{
	animation-delay: .15s;
}

nav > *:nth-child(1):hover span:nth-child(3)::before{
	animation-delay: .3s;
}

@keyframes open {
	0% {width: 0;}
	100% {width: 100%;}
}

/*--------------------------------New Grid setup-------------------------*/

.container {
  display: grid;
  max-width: 900px;
  position: relative;
  margin: auto;
  grid-gap: 10px;
  grid-template-areas: "header header"
    									"nav nav"
    									"left right"
    									"footer footer";
  grid-template-columns: 200px 400px;
  grid-template-rows: 150px 200px 600px 200px;
}

h1, h2 {
  font-family: monospace;
  text-align: center;
}

header {
  background-color: dodgerblue;
  grid-area: header;
}

nav {
  background-color: beige;
  grid-area: nav;
}

.left {
  background-color: dodgerblue;
  grid-area: left;
}

.right {
  background-color: beige;
  grid-area: right;
}

footer {
  background-color: dodgerblue;
  grid-area: footer;
}